{% extends 'layout.html' %}
{% block body_content %}

<h2>Add a song</h2>

<form method='POST' action=''>
	<!-- Used to protect from CSRF attacks -->
	{{ form.hidden_tag() }}

	<!-- Consider replacing with a for loop and a list of feild names -->
	{{ form.title.label }} {{ form.title }}
	{% if form.title %}
		{% for error in form.title.errors %}
			<br>
			{{ error }}
		{% endfor %}
	{% endif %}

	<br>

	{{ form.group.label }} {{ form.group }}
        {% if form.group %}
                {% for error in form.group.errors %}
                        <br>
                        {{ error }}
                {% endfor %}
        {% endif %}

	<br>

	{{ form.length.label }} {{ form.length }}
        {% if form.length %}
                {% for error in form.length.errors %}
                        <br>
                        {{ error }}
                {% endfor %}
        {% endif %}

	<br>

	{{ form.youTube.label }} {{ form.youTube }}
	<br>
	(To add song URL from Youtube, please click on share, embed and use the URL from this source)
        {% if form.youTube %}
                {% for error in form.youTube.errors %}
                        <br>
                        {{ error }}
                {% endfor %}
        {% endif %}

	<br>

	{{ form.submit }}
</form>

{% endblock body_content %}
